body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("background6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  header {
    background-color: rgba(33, 33, 33, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .navbar li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .navbar li a {
    color: #fff;
    text-decoration: none;
  }
  
  .character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .character {
    width: 45%;
    margin-bottom: 20px;
  }
  
  .character-details {
    margin-left: 10px;
  }
  
  .character img {
    width: 100%;
    height: auto;
  }
  
  .character-details h3 {
    margin-top: 0;
  }
  
  .character-details p {
    margin: 0;
  }
  
  .character-details ul {
    padding-left: 20px;
  }
  
  
  footer {
    background-color: #212121;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  